h1, h2, h3 {
    margin-top: 0;
}
.hero {

    padding:0 1.5rem 0 1.5rem;
    
}
.hero_img {
    
    
    background-image: url(/Domaci/images/best-service-img.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position:center bottom ;
    min-height: 25rem;
    max-width: 37.5rem;
    max-height: 25rem;
    
    

}
.hero_txt {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}

.hero_txt h1{
    font-size: 2.31rem;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 1.5rem;
    
    

}

.hero_txt p{
    margin-bottom: 2.5rem;
    
}

.hero_btn {
    padding: 0.875rem 3rem;
    border-radius: 3.125rem;   
    cursor: pointer;
    color: white;
    background-color: #A5A2F6;
    border: 0;
    font-size: 0.875rem;
    font-weight: 700;
}


