@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
    
html {
    font-size: 100%;         /* html styling */
    box-sizing: border-box;
    font-family: lato;
    font-weight: 300;
    background-image: url(/Domaci/images/htmlstyle.png);
    background-repeat: no-repeat;
    background-position-x: right;
    overflow-x: hidden;
    
    
}

*, *::before, *::after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgba(245, 245, 245, 0.747);
    transition: color 300ms ease-in-out;
    
}

body{
    margin: 0;
    padding: 0;
    font-size:1.125rem;
    text-align: center;
    
    
    
}
span {
    display: block;        /* mobile hamburger menu */
    width: 1.625rem;
    height: 0.125rem;
    background-color: white;
    margin-bottom: 0.313rem;
    transition: all 300ms ease-in-out;
    transform-origin: 0.188rem 0.06rem;
}

.header_menu.open  span:first-child {  /* hamburger rotation into close button */
    transform: rotate(45deg);
   
 
}

.header_menu.open span:nth-child(2) {
    opacity: 0;
}

.header_menu.open span:last-child{
    transform: rotate(-45deg);
}
nav {
    position: relative;
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
}





.flex {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    gap: 2.06rem;
    text-align: left;
    
   
       
}
.logo {
    flex: 1;
    
}

.header_links {
    
    font-size: 0.875rem;
    word-spacing: 2rem;
    flex: -1;
    
}

.btn1 {
    padding: 0.875rem 3rem;
    border-radius: 3.125rem;       /*styling of login button */
    cursor: pointer;
    color: white;
    background-color: #FF8923;
    border: 0;
    font-size: 0.875rem;
    
}
.btn1:hover{
    opacity: 0.75;
    transition: opacity 300ms ease-in-out ;

}
.mobileHeaderLinks {
    
    position: absolute;
    left: 50%
}

.mobileHeaderLinks a {

    
    display: block;
    text-align: end;   
    padding: 1rem 5.35rem;
    color: white;
    
    
    
    
    
        
}

.overlay {
    opacity: 0;   /* mobile menu overlay */
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient(#A5A2F6, black);
}

.header .overlay {
    animation: fade-out 300ms ease-in-out forwards;
}

.header.open .overlay {
    display: block;
    animation: fade-in 300ms ease-in-out forwards;

}


.header.open .mobileHeaderLinks a {
    animation: fade-in 300ms ease-in-out forwards;


}

.header .mobileHeaderLinks a {
    animation: fade-out 300ms ease-in-out forwards;
}







@media (max-width: 64em){           /* mobile hidding button and header links */
    .header_links {
        display: none;
    }
    .btn1 {
        display: none;
    }

    
    

}

@media (min-width: 64em){


    .header_menu {        /* hiding hamburger for desktop */
        display: none;
    }
    .heroContainer {
        display: flex;
        gap: 3.75rem;
        justify-content: center;
        align-items: center;
        
        
        
        
    }
    .hero {
        margin-top: 5.6rem;
        
        

    }
   
    
    .hero_img {

        flex:2;
        order: 2;
        background-position:center center;
        flex-basis: 100%;
        max-width: 37.5rem;
        max-height: 25rem;
        
         
    }
    
}

@keyframes fade-in {      /* mobile menu overlay animation */
    from {
        
        visibility: hidden;
        opacity: 0;

    }
    1% {
        
        visibility: visible;
        opacity: 0;
    }

    to {
        
        opacity: 1;
        

    }
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;

    }
    99% {
        visibility: visible;
        opacity: 0;
    }

    to {

        visibility: hidden;
        opacity: 0;
        

    }
    
}


